
#imag {

  background-image: url(maria.jpg);
  height: 200px;
  width: 100%;
  text-decoration: none;
}
.footer{
  background-image: url(turi.png);
  width: 100%;
  height: 100px;


}

.foop{
  text-align: end;
  color: white;
}
.span1{
  width: 100px;
  height: 100px;
  background-image: url(una.png) ;
  text-align: center;

  
}
.imge{
  text-align: center;
  align-self: center;
}
.ul{
  text-align: end ;
 
}

.td{
  text-align: center;
}
.div_fo{
  text-align: center;
  
}
.form {
  background-repeat: no-repeat;
  background-image: url(maria.jpg);
  text-align: center;
  background-color: aquamarine;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav{
  font-size: 20px;
font-weight: 150px;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boton {
  width: 13vh;
  height: 8vh;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.gradient-custom-2 {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
#footer{
    width: 100%;
    height: 100PX;
    margin-top: 600px;
}